.navbar-custom {
    background-color: rgb(67, 56, 56);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link  {
color: #ffffff; /* alb */
font-size: 18px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.navbar-custom .navbar-brand img {
width: 200px; /* ajustați dimensiunea logo-ului aici */
margin-right: 10px;
}

.navbar-custom .navbar-toggler-icon {
background-color: #ffffff; /* alb */
}

.navbar-custom .navbar-toggler {
border-color: #ffffff; /* alb */
}

.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:hover {
background-color: #ffffff; /* alb */
}

/* Stilizare pentru linkurile active */
.navbar-custom .navbar-nav .nav-link.active {
color: #dc0000; /* culoarea textului pentru linkul activ */
border: 2px solid #ffffff; /* chenar alb pentru linkul activ */
}


/* Stilizare pentru chenarul linkului */
.navbar-custom .navbar-nav .nav-link {
border-radius: 5px; /* rotunjim marginile chenarului */
border: 2px solid transparent; /* setăm chenarul inițial transparent */
}

/* Stilizare pentru chenarul linkului la hover */
.navbar-custom .navbar-nav .nav-link:hover {
border-color: #ffffff; /* culoarea chenarului la hover */
}
body {
margin-top: 75px;
position: relative;
background-color: rgb(67, 56, 56);
}

ul.nav-pills {
margin-top: 75px;
top: 20px;
position: fixed;
}
div.col-8 div {
height: 500px;
}
.image-container img, .logo-container img {
width: 100%; /* Asigurați-vă că imaginea se potrivește containerului */
height: auto; /* Menține proporțiile imaginii */
}
.image-container {
width: 260px; /* Lățimea dorită pentru imagine */
height: 200px; /* Înălțimea dorită pentru imagine */
margin:auto;
float:right;
}
.logo-container {
width: 50px; /* Lățimea dorită pentru logo */
height: 50px; /* Înălțimea dorită pentru logo */
margin:auto;
float: left;
}

.section-content {
border: 1px solid #000; /* Adaugă un chenar negru subțire */
box-shadow: -10px 10px 10px rgba(255, 255, 255, 0.5); /* Adaugă o umbră cu efect de estompare */
margin-bottom: 20px; /* Adaugă spațiu sub secțiune */
padding: 10px; /* Adaugă spațiu în interiorul secțiunii */
}


/* Culori reprezentative pentru echipe */
.mercedes { background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0,210,190,0.5))}
.redbull { background: linear-gradient(to right, rgba(255, 255, 255, 0.5),  rgba(30, 65, 255, 0.5));}
.mclaren { background:linear-gradient(to right, rgba(255, 255, 255, 0.5),  rgba(255, 135, 0, 0.5));}
.alpine { background:linear-gradient(to right, rgba(255, 255, 255, 0.5),  rgba(239, 95, 182,0.5));}
.haas { background:linear-gradient(to right, rgba(255, 255, 255, 0.5),  rgba(232, 86, 86,0.5));}
/* Adăugați aici alte culori pentru restul echipelor */
