.navbar-custom {
    background-color: rgb(255, 0, 0);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link  {
color: #ffffff; /* alb */
font-size: 18px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
font-family: Arial, sans-serif;
}

.navbar-custom .navbar-brand img {
width: 200px; /* ajustați dimensiunea logo-ului aici */
margin-right: 10px;
}

.navbar-custom .navbar-toggler-icon {
background-color: #ffffff; /* alb */
}

.navbar-custom .navbar-toggler {
border-color: #ffffff; /* alb */
}

.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:hover {
background-color: #ffffff; /* alb */
}

/* Stilizare pentru linkurile active */
.navbar-custom .navbar-nav .nav-link.active {
color: #dc0000; /* culoarea textului pentru linkul activ */
border: 2px solid #ffffff; /* chenar alb pentru linkul activ */
}


/* Stilizare pentru chenarul linkului */
.navbar-custom .navbar-nav .nav-link {
border-radius: 5px; /* rotunjim marginile chenarului */
border: 2px solid transparent; /* setăm chenarul inițial transparent */
}

/* Stilizare pentru chenarul linkului la hover */
.navbar-custom .navbar-nav .nav-link:hover {
border-color: #ffffff; /* culoarea chenarului la hover */
}

h5{
height:50px;
margin-left:700px;
color:#ffffff;
text-align: end;
}
body {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.5)),url('fundal/bgClasament.jpg'); /* Adaugă imaginea de fundal */
    background-size: cover; /* Asigură că imaginea de fundal se întinde pentru a acoperi întreaga suprafață */
    background-position: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 75px;
  }

.about
{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col
{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img
{
    width: 100%;
}

.about-col h1
{
    padding-top: 0;
}

.about-col p
{
    padding: 15px 0 25px;
}


.green-btn
{
    background: transparent;
    color:gray;
}

.green-btn:hover
{
    color: white;
}


.location
{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe
{
    width: 100%;
}

.ab
{
    margin: 80px 0;
    background-image: linear-gradient(to right, rgba(224, 93, 23, 0.9), transparent),url(fundal/bgHome.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
    animation: moveRight 1s forwards; /* Aplicăm animația */
    transition: transform 1s; /* Adăugăm o tranziție pentru animația transform */
}

.ab2
{
    margin: 80px 0;
    background-image: linear-gradient(to right, rgba(0, 239, 227, 0.6), transparent),url(fundal/bgConstructori.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
    animation: moveRight 1s forwards; /* Aplicăm animația */
    transition: transform 1s; /* Adăugăm o tranziție pentru animația transform */
}

.ab h3
{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.ab2 h3
{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.ab p
{
    font-size: 18px;
    margin: 10px 0;
    color: white;
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.9);
}

.ab2 p
{
    font-size: 18px;
    margin: 10px 0;
    color: white;
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.9);
}

/* Animatie pentru alunecarea la stânga */
@keyframes moveLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Animatie pentru alunecarea la dreapta */
@keyframes moveRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Adaugă clasele pentru mișcarea la stânga și la dreapta */
.move-left {
    animation: moveLeft 1s forwards; /* Aplică animația pentru mișcarea la stânga */
}

.move-right {
    animation: moveRight 1s forwards; /* Aplică animația pentru mișcarea la dreapta */
}
